/* General Settings */
:root {

    --primary-color: #000000;
    --second-color: #ffffff;

    --primary-font: macondo, serif, arial;
    --second-font: roboto, sans-serif, arial;

}

body{

    background-color: var(--primary-color);
    color: var(--second-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family:'Courier New', Courier, monospace;

    gap: 70px;

}