#groupServices{

    display: grid;
    grid-template-columns: 420px 420px;

    gap: 50px;

}

.serviceBlock{

    width: 400px;
    height: 350px;

    color: black;
    background-color: white;

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

    padding: 20px;

}

.bi-pc-display, .bi-wordpress, .bi-house-gear-fill, .bi-signpost-2-fill{

    font-size: 80px;

}

.serviceBlockIcon{

    font-size: 5.5rem;

}

.serviceBlockTitle{

    font-size: 1.9rem;
    font-weight: 700;

}

.serviceBlockDescription{

    max-width: 370px;

    text-align: justify;

}

.serviceBlockButton{

    text-align: center;
    color: var(--colorPrincipal);

    font-weight: 900;

    border-radius: 12px;

    padding: 15px 50px;

    font-size: 1.2rem;

    background-color: rgb(0, 0, 0);

    transition: 1.2s;

    border: 1.5px solid var(--colorPrincipal);

    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);

    &:hover {

        transform: scale(1.1);

        background-color: var(--colorPrincipal);

        color: white;

        box-shadow: 0px 0px 10px rgb(0, 0, 0);

        border: none;

    }

}

/*Service Informations*/

.serviceInformations{

    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
   

}

.serviceInformationContainer{

 width: 60%;
 height: 60%;

 background-color: #201f20;
 border: 2px solid var(--colorPrincipal);

 border-radius: 12px;

 padding: 30px;

 display: flex;

 flex-direction: column;

 gap: 40px;

}

.serviceInformationContainerTitles{

    display: flex;

    gap: 30px;

    align-items: center;

}

.serviceInformationContainerContents{

    display: grid;

    column-gap: 100px;

    grid-template-columns: auto 400px;

}

.serviceInformationContainerContentsLeftGrid{

    display: grid;

    gap: 50px;

    grid-template-columns: 300px 300px;

}

.serviceInformationContainerButtoms{

    display: flex;

    gap: 30px;

}

.informationContainerButtons{

    display: inline-block;
    text-align: center;
    color: var(--colorPrincipal);

    font-weight: 900;

    border-radius: 12px;

    padding: 9px 70px;

    font-size: 1.1rem;

    background-color: rgb(0, 0, 0);

    transition: 1.2s;

    border: 1.5px solid var(--colorPrincipal);

    

    &:hover {

        transform: scale(1.1);

        background-color: var(--colorPrincipal);

        color: white;

        box-shadow: 0px 0px 10px rgb(0, 0, 0);

        border: none;

    }

}

.buttonGhost{

    background-color: rgba(255, 255, 255, 0);

}

/*Container Right*/

.serviceInformationContainerContentsRight{

    max-width: 300px;
    height: 400px;

    overflow: hidden;

   

}


/*Controle displays*/

.containerFront{}
.containerWordpress{display: none;}
.containerSuport{display: none;}
.containerSoon{display: none;}