:root {

    --colorTeamA: #4CABD4;
    --ColorTeamB: #036189;

    --colorText1: #FFFFFF;
    --colorText2: #000000;

    --colorBackground: #FFFFFF;

}

/*estrutura geral*/

#app {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 30px;

    font-family: "Jaldi", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

#containerApp {

    width: 1198px;
    height: 728px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/*central*/

#contentCentral{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 300px;

}

#centralLinkCoffe{

    font-size: 1.5rem;

    display: inline-flex;

    color: var(--colorText1);

    background-color: #000000;

    width: 200px;
    height: 60px;

    justify-content: center;
    align-items: center;

    text-align: center;

    text-decoration: none;

    border-radius: 12px;

    transition: 1s;

    &:hover{

        transform: scale(1.1);

    }

}

#viewSituation{

    font-size: 3.7rem;

}

h1{

    font-size: 1.5rem;
    text-align: center;

}


/*teams*/

.teams {

    display: flex;
    flex-direction: column;

    gap: 15px;

}

.buttonsControlGroup {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

}

.buttons {

    width: 400px;
    height: 140px;

    border-radius: 12px;

    border: none;

    cursor: pointer;

    transition: 1s;

    color: var(--colorText1);
    font-size: 6rem;

    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.300);

    &:hover {

        transform: scale(1.1);

    }

}

.counterPoints {

    font-size: 8rem;
    font-weight: 600;

}

.countSets{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

}

.containerSets{

    width: 130px;
    height: 50px;

    border-radius: 12px;

    color: var(--colorText1);

    font-size: 2rem;
    font-weight: 600;

    text-align: center;

}

.nameTeams{

    font-size: 2.2rem;
    font-weight: 600;

}

/*teamA*/

/*teamB*/