:root {

    --colorTeamA: #4CABD4;
    --colorTeamB: #036189;

    --colorText1: #FFFFFF;
    --colorText2: #000000;

    --colorBackground: #FFFFFF;

}

/*estrutura geral*/

#app {

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;


    gap: 30px;

    font-family: "Jaldi", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

    overflow: hidden;

}

#containerApp {

    margin-top: 100px;
    
    width: 1198px;
    height: 728px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/*central*/

#contentCentral{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 300px;

}

#centralLinkCoffe{

    font-size: 1.5rem;

    display: inline-flex;

    color: var(--colorText1);

    background-color: #000000;

    width: 230px;
    height: 60px;

    text-decoration: none;

    border-radius: 12px;

    transition: 1s;

    &:hover{

        transform: scale(1.1);

    }

}

#viewSituation{

    font-size: 3.7rem;
    transition: 1s;

}

h1{

    font-size: 1.5rem;
    text-align: center;

}

#reset button{

    font-size: 1.9rem;

    color: var(--colorText1);

    background-color: #000000;

    width: 280px;
    height: 70px;

    border-radius: 12px;

    cursor: pointer;

    transition: 1s;

    &:hover{

        transform: scale(1.1);

    }

}

#reset button, #centralLinkCoffe, .buttons{

    font-family: "Jaldi";
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

}


/*teams*/

.teams {

    display: flex;
    flex-direction: column;

    gap: 15px;

}

.buttonsControlGroup {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

}

.buttons {

    width: 400px;
    height: 140px;

    border-radius: 12px;

    border: none;

    cursor: pointer;

    transition: 1s;

    color: var(--colorText1);
    font-size: 6rem;

    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.300);

    &:hover {

        transform: scale(1.1);

    }

}

.counterPoints {

    font-size: 8rem;
    font-weight: 600;

    display: flex;

    transition: 1s;

}

.countSets{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    transition: 1s;

}

.containerSets{

    width: 130px;
    height: 50px;

    border-radius: 12px;

    color: var(--colorText1);

    font-size: 2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

}

.nameTeams{

    font-size: 2.2rem;
    font-weight: 600;

}

/*teamA*/

.buttonsA, #containerSetA{

    background-color: var(--colorTeamA);

}

#nameTeamA, #counterPointsA{

    color:var(--colorTeamA)

}

/*teamB*/

.buttonsB, #containerSetB{

    background-color: var(--colorTeamB);

}

#nameTeamB, #counterPointsB{

    color:var(--colorTeamB)

}