@media(max-width: 1200px){


    #containerApp{

        flex-direction: column;
        width: auto;
        height: auto;

        margin-top: 100px;

    }

    .buttonsControlGroup{

        flex-direction: row;
        gap: 25px;

    }

    .buttons{

        width: 200px;
        height: 210px;

    }

}

@media(max-width: 800px){

    #containerApp{

        gap: 20px;

    }
    
    .buttons{

        width: 150px;
        height: 160px;

    }

    .buttonsControlGroup{

        gap: 20px;

    }

    #contentCentral{

        gap: 20px;

    }

    #centralLinkCoffe{

        width: 200px;
        height: 50px;

        font-size: 1.4rem;

    }

    #viewSituation{

        font-size: 3rem;

    }

    h1{

        display: none;

    }

    #reset button{

        width: 250px;
        height: 60px;

    }

}