@media(max-width: 1200px){


    #containerApp{

        flex-direction: column;
        width: auto;
        height: auto;

    }

    .buttonsControlGroup{

        flex-direction: row;
        gap: 25px;

    }

    .buttons{

        width: 200px;
        height: 210px;

    }

}

@media(max-width: 800px){

    #containerApp{

        gap: 20px;

    }
    
    .buttons{

        width: 150px;
        height: 160px;

        transition: 1s;

    }

    .buttonsControlGroup{

        gap: 20px;

    }

    #contentCentral{

        gap: 20px;

    }

    #centralLinkCoffe{

        width: 200px;
        height: 50px;

        font-size: 1.4rem;

    }

    #viewSituation{

        font-size: 3rem;

    }

    h1{

        display: none;

    }

    #reset button{

        width: 250px;
        height: 60px;

    }

}

@media(max-width: 420px){

 #containerApp{

        gap: 20px;

    }

    .containerSets{

        width: 100px;
        height: 40px;

    }
    
    .buttons{

        width: 110px;
        height: 120px;

    }


    #viewSituation{

        font-size: 2.6rem;

    }


    #reset button{

        width: 220px;
        height: 50px;

        font-size: 1.6rem;

    }


}