body {

    background: #212020;
   /* background: linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(169, 130, 44, 1) 100%);*/

    background-repeat: no-repeat;
    background-size: 100vw 100vh;

}

#home{

    margin: 30px 0px 0px 0px;

    gap: 90px;

}

#sideLeft{

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 40px;

}

#apresentation{

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 20px;

}

h1 {

    font-size: 8rem;
    font-weight: 750;

}

h2 {

    font-size: 2rem;
    font-weight: 600;
    color: var(--colorPrincipal);

}

h3 {

    font-size: 1.5rem;
    font-weight: 500;

}

#socialLinks {

    display: flex;

    align-items: center;

    gap: 40px;

    font-size: 2.7rem;

    & span{

        font-size: 1.6rem;

    }

}

.socialLinksS{

    color: white;

    display: flex;

    align-items: center;

    gap: 10px;

    transition: 1.2s;

    &:hover{

        transform: scale(1.1);

    }

}

.bi-instagram{

    color: rgba(245, 0, 176, 1);

}

.bi-linkedin{

    color: rgb(0, 155, 239);

}

#buttonCall {

    display: inline-block;
    text-align: center;
    color: var(--colorPrincipal);

    font-weight: 900;

    border-radius: 12px;

    padding: 20px 70px;

    font-size: 1.3rem;

    background-color: rgb(0, 0, 0);

    transition: 1.2s;

    border: 1.5px solid var(--colorPrincipal);

    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);

    &:hover {

        transform: scale(1.1);

        background-color: var(--colorPrincipal);

        color: white;

        box-shadow: 0px 0px 10px whitesmoke;

        border: none;

    }

}

#sideRight img{

    position: relative;

    max-width: 500px;

    border-radius: 15px;


}